<div class="portfolio">
    <div class="sub-container-portfolio">
        <div class="headline-wrapper">
            <span>Portfolio</span>
            <p>{{ 'sample' | translate }}.</p>
        </div>
        <app-project1 class="project-cont"></app-project1>

        <app-project2 class="project-cont"></app-project2>

        <!-- <app-project3 class="project-cont"></app-project3>

        <app-project4 class="project-cont"></app-project4> -->
        <div class="arrow-container" id="contact">
            <img  src="../../assets/img/{{ arrowsRight[currentArrow]}}">
        </div>

    </div>
   
</div>