<div class="about-me-container">
    <div class="about-me">
        <span class="headline">{{ 'aboutMe' | translate }}</span>
        <div class="section-sub-headline">
            <div class="section-text"><span class="description">
                    {{ 'frontend' | translate }}.
                    {{ 'background' | translate }}, 
                    {{ 'background2' | translate }}.
                    {{ 'background3' | translate }}. </span>
                    <span class="description">{{ 'experiment' | translate }},
                   {{ 'understand' | translate }}, {{ 'effective' | translate }}.</span>
                    <!-- While my journey into the world of tech may have started with a background in nursing,
                 my fascination with technology stems from its potential to revolutionize industries, including healthcare.
                As someone who has experienced firsthand the impact of digitalization in the nursing field,
                 I've been inspired to transition into the realm of front-end development.
                  My goal is to leverage my unique perspective and skills to contribute to innovative solutions 
                  that enhance efficiency and improve user experiences.
                
                I take pride in my ability to write clean and efficient code,
                 design responsive interfaces, and approach problem-solving 
                 with a strategic mindset. 
                 Whether I'm collaborating with a team or tackling challenges independently, 
                 I'm committed to delivering high-quality solutions that meet the needs of users and stakeholders alike.
                
                I'm excited about the prospect of engaging in new projects and 
                expanding my skill set by learning new technologies. 
                I believe that continuous learning is key to staying at the 
                forefront of this ever-evolving industry, 
                and I'm eager to embrace the opportunities that lie ahead.
                
                If you're looking for a front-end developer who is dedicated, 
                adaptable, and eager to make a difference, 
                I'd love to connect and discuss how we can work together to bring your ideas to life. -->

                    <!-- Let's build something amazing together! -->
              
                <span class="motivational">{{ 'contact' | translate }}!</span>
                <button (click)="moveToContactSection()" [class.black-btn]="selected">{{ 'letUsTalk' | translate
                    }}</button>
            </div>
            <div class="image image-pop"><img class="profile-photo" src="../../../assets/img/49 -1 klein2.jpg" alt=""></div>
            
            <!-- <div class="framePhoto"></div> -->

            
        </div>
        <div class="arrow-container" #arrowOne id="mySkills">
            <img src="../../assets/img/{{ arrowsRight[currentArrow]}}">
        </div>
    </div>

</div>

<!-- <img src="../../../assets/img/49 -1 klein2.jpg" alt=""> -->