<div class="about-me-container">
    <div class="about-me">
        <span class="headline">{{ 'aboutMe' | translate }}</span>
        <div class="section-sub-headline">
            <div class="section-text"><span class="description">
                    {{ 'frontend' | translate }}.
                    {{ 'background' | translate }}, 
                    {{ 'background2' | translate }}.
                    {{ 'background3' | translate }}. </span>
                    <span class="description">{{ 'experiment' | translate }},
                   {{ 'understand' | translate }}, {{ 'effective' | translate }}.</span>
              
                <span class="motivational">{{ 'contact' | translate }}!</span>
                <button (click)="moveToContactSection()" [class.black-btn]="selected">{{ 'letUsTalk' | translate
                    }}</button>
            </div>
            <div class="image image-pop"><img class="profile-photo" src="../../../assets/img/49 -1 klein2.jpg" alt=""></div>  
        </div>
        <div class="arrow-container" #arrowOne id="mySkills">
            <img src="../../assets/img/{{ arrowsRight[currentArrow]}}">
        </div>
    </div>
</div>