* {
    scroll-behavior: smooth;
}

.nav-bar-container {
    // width: 100vw;
    height: 90px;
    background-color: #FFFCF3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    >img {
        width: 40px;
        height: 32px;
        cursor: pointer;
    }
}

.burger-languange {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-right: calc(5%);
    align-items: center;
}

.languange-switch {
    font-family: 'Syne';
    font-size: 1.5rem;
    font-weight: 500;
   

    >span {
       
    }
}

.deutsch {
    margin-right: 6px;
    transition: 1s;
    cursor: pointer;
    transition: 1s;
    background: linear-gradient(-180deg, black 34%, red 56%, yellow 74%);
    background-clip: text;
    color: black;
    transform: scale(1);

    &:hover {
        color: transparent;
        transform: scale(1.1);
    }
}

.english {
    margin-left: 6px;
    transition: 1s;
    cursor: pointer;
    transition: 1s;
    background-image: url('../../../../src/assets/img/english.png');
    background-clip: text;
    color: black;
    transform: scale(1);

    &:hover {
        color: transparent;
        transform: scale(1.1);
    }
}
.logo {
    margin-left: calc(7%);
}

.burger-menu {
    // margin-right: calc(5%);
    transition: burger-menu 0.5s ease-in;
    cursor: pointer;
}

.menu {
    width: 100vw;
    height: 75vh;
    background-color: #FFFCF3;
    position: fixed;
    top: 90px;
    left: 0;
    z-index: 3; //prelazi u  z-index: 2;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 calc(100% - 10vw));
    margin-bottom: -10vw;
    transform: translateY(-120%);

    @media(max-width: 900px) {
        height: 65vh;
    }

}



.links-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    @media(max-width: 900px) {
        margin-top: 32px;
    }

    >span {
        font-family: "Syne";
        font-size: 6rem; //96px
        font-weight: 700;
        width: 645px;
        height: 100px;
        position: relative;
        text-align: center;
        padding: 32px;
        margin-bottom: 12px;

        @media(max-width: 1094px) {
            font-size: 5.5rem;
            width: 580px;
        }

        @media(max-width: 900px) {
            font-size: 5rem;
            width: 555px;
            padding: 24px;
        }

        @media(max-width: 750px) {
            font-size: 4.5rem;
            width: 520px;
            padding: 16px;
        }

        @media(max-width: 620px) {
            font-size: 4rem;
            width: 450px;
            padding: 12px;
        }

        @media(max-width: 520px) {
            font-size: 3.5rem;
            width: 400px;

        }

        @media(max-width: 470px) {
            font-size: 2.3rem;
            width: 245px;
            height: 75px;
        }



        &::before {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            bottom: 0;
            left: 0;
            border-left: 4px solid black;
            border-bottom: 4px solid black;

            @media(max-width: 520px) {
                bottom: 25px;
            }

            @media(max-width: 470px) {
                width: 32px;
                height: 32px;
            }
        }

        &:hover::before {
            width: 0px;
            height: 0px;
            border-left: none;
            border-bottom: none;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            width: 0%;
            background-color: black;
            transition: 0.5s ease-in-out;
            display: block;

            @media(max-width: 520px) {
                bottom: 25px;
            }
        }

        &:hover::after {
            content: '';
            height: 4px;
            width: 100%;
            display: block;
            background-color: black;
        }
    }
}

.footer-menu {
    width: 100vw;
    height: 35vh;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2; // prelazi u z-index: 1;
    transform: translateY(120%);
}

.show-menu {
    animation: 1s MenuIn ease-in-out;
    transform: translateY(0%);
}

@keyframes MenuIn {
    from {
        transform: translateY(140%);
    }

    to {
        transform: translateY(0%);
    }
}



.hide-menu {
    animation: 1s MenuOut ease-in-out;
    transform: translateY(140%);
}

@keyframes MenuOut {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(140%);
    }
}


.footer-wrapper {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 900px) {
        flex-direction: column-reverse;
        min-height: 100px;
        align-items: flex-start;
        margin-left: calc(8%);
        margin-top: 20px;
    }
}

.left {
    display: flex;
    flex-direction: column;
    margin-left: calc(8%);
    justify-content: space-around;

    @media(max-width: 900px) {
        margin-left: 0;
    }

    // >span {
    //     color: #FFFCF3;
    //     font-family: "Overpass";
    //     font-size: 16px;
    // }


    >img {
        width: 65px;
        height: 30px;
        cursor: pointer;


    }
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: calc(5%);
    width: 200px;

    @media(max-width: 900px) {
        margin-right: 0;
    }

    >div {
        display: flex;
        justify-content: space-between;

        >img {
            transform: translateY(0px);
            cursor: pointer;
            transition: transform 0.5s ease-in-out;

            @media(max-width: 620px) {
                width: 35px;
                height: 35px;
            }

            &:hover {
                transform: translateY(-16px);
            }


        }
    }



}

.email {
    font-family: "Overpass";
    font-weight: 300;
    font-size: 20px;
    color: #FFFCF3;
    cursor: pointer;
    transition: 1s;

    @media(max-width: 620px) {
        font-size: 18px;
    }

    &:hover {
        color: #FF9900;

    }
}


.headline-wrapper {
    padding-top: 100px;

    // padding-bottom: 72px;
    @media(max-width: 1400px) {
        padding-top: 125px;
    }

    @media(max-width: 900px) {
        padding-top: 75px;
    }

    @media(max-width: 620px) {
        padding-top: 100px;
    }

    span {
        font-size: 5rem; //82px
        font-family: "Syne";
        font-weight: 800;
        color: #FFFCF3;
        text-align: center;
        padding: 72px;
        margin-left: calc(8%);
        padding-left: 0px !important;

        @media(max-width: 1400px) {
            font-size: 4.5rem;
        }

        @media(max-width: 1094px) {
            font-size: 4rem;
        }

        @media(max-width: 900px) {
            font-size: 3.5rem;
            padding: 0;
        }

        @media(max-width: 620px) {
            font-size: 2.5rem;
        }
        @media(max-width: 500px) {
            font-size: 2.3rem;
        }
        @media(max-width: 420px) {
            font-size: 2.1rem;
        }


        &:hover {
            color: #FF9900;
        }
    }
}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid black;
    width: 100%;
    height: 95%;
    opacity: 0;

    @media(max-width: 520px) {
        height: 73%;
    }

    @media(max-width: 470px) {
        height: 67%;
    }
}

.visible {
    animation: showFrame 0.5s ease-in-out;
}

@keyframes showFrame {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

//////POkusaj 2/////////////
// .outside-box {
//     width: 80px;
//     height: 60px;
//     background-color: #FFFCF3;
//     position: relative;

//     cursor: pointer;

//     &:hover {
//         >.arm1 {
//             transform: rotate(110deg);
//             top: calc(48%);
//             left: calc(-8%);
//         }

//         >.arm2 {
//             transform: rotate(70deg);
//             top: calc(48%);
//             left: calc(4%);
//         }

//         >.arm3 {
//             transform: rotate(70deg);
//             top: calc(49%);
//             right: calc(44%);
//         }

//         >.arm4 {
//             transform: rotate(-70deg);
//             top: calc(48%);
//             right: calc(54%);
//         }

//         >.line1 {

//             top: calc(48%);
//             left: calc(48%);
//             transform: rotate(70deg);
//         }

//         >.line2 {
//             top: calc(48%);
//             left: calc(38%);

//             transform: rotate(-70deg);
//         }

//         >.dot {
//             width: 6px;
//             top: calc(55%);
//             left: calc(54%);
//         }
//     }
// }


// .arm1 {
//     position: absolute;
//     width: 25px;
//     height: 4px;
//     background-color: black;
//     border-radius: 4px;
//     transition: 1s ease-in-out;
//     /* first position */
//     transform: rotate(50deg);
//     top: calc(52%);
//     left: 0;
//     /* final position */
//     //   transform: rotate(110deg);
//     // top: calc(48%);
//     // left:calc(-8%);

// }

// .arm2 {
//     position: absolute;
//     width: 25px;
//     height: 4px;
//     background-color: black;
//     border-radius: 4px;
//     transition: 1s ease-in-out;
//     /* first position */
//     transform: rotate(-50deg);
//     top: calc(24%);
//     left: 0;
//     /* final position */
//     // transform: rotate(70deg);
//     // top: calc(47%);
//     // left: calc(4%);
// }

// .arm3 {
//     position: absolute;
//     width: 25px;
//     height: 4px;
//     background-color: black;
//     border-radius: 4px;
//     transition: 1s ease-in-out;
//     /* first position */
//     transform: rotate(50deg);
//     top: calc(24%);
//     right: 0;
//     /* final position */

//     // transform: rotate(80deg);
//     // top: calc(50%);
//     // right: calc(38%);
// }

// .arm4 {
//     position: absolute;
//     width: 25px;
//     height: 4px;
//     background-color: black;
//     border-radius: 4px;
//     transition: 1s ease-in-out;
//     /* first position */
//     transform: rotate(-50deg);
//     top: calc(52%);
//     right: 0;
//     /* final position */
//     // transform: rotate(-70deg);
//     // top: calc(48%);
//     // right: calc(47%);
// }


// .line1 {
//     background-color: black;

//     height: 4px;
//     position: absolute;
//     border-radius: 4px;
//     transition: 1s ease-in-out;
//     /* first position */
//     top: calc(15%);
//     width: 25px;
//     left: calc(35%);
//     transform: rotate(-72deg);
//     /* final position */
//     // width: 30px;
//     // top: calc(48%);
//     // left: calc(50%);
//     // transform: rotate(70deg);
//     z-index: 1;
// }


// .line2 {
//     background-color: black;

//     height: 4px;
//     border-radius: 4px;
//     position: absolute;
//     transition: 1s ease-in-out;
//     /* first position */
//     top: calc(52%);
//     width: 25px;
//     left: calc(27%);
//     transform: rotate(-73deg);
//     /* final position */
//     // top: calc(50%);
//     // left: calc(38%);
//     // width: 30px;
//     // transform: rotate(-70deg);

//     z-index: 1;
// }

// .dot {
//     background-color: black;
//     height: 4px;
//     position: absolute;
//     border-radius: 4px;
//     transition: 1s ease-in-out;
//     /* first position */
//     top: calc(18%);
//     // width: 25px;
//     left: calc(36%);
//     transform: rotate(-72deg);
//     /* final position */
//     // width: 6px;
//     // top: calc(50%);
//     // left: calc(59%);

//     /*   z-index: 1; */
// }

// ++++++Pokusaj 3**********//






/////////////////Logo sa posla /////////////////////////////////////

// .outside-box {
//     width: 60px;
//     height: 50px;
//     background-color: #FFFCF3;
//     position: relative;


//     &:hover {
//         >.arm1 {
//             top: calc(25%);
//             transform: rotate(-60deg);
//         }

//         >.arm2 {
//             top: calc(51%);
//             transform: rotate(60deg);
//             left: calc(0%);
//         }

//         >.arm3 {
//             top: calc(54%);
//             left: calc(25%);
//             transform: rotate(-70deg);
//             border-top-right-radius: 0px;
//             border-bottom-right-radius: 0px;
//         }

//         >.arm4 {
//             top: calc(20%);
//             transform: rotate(-71deg);
//             left: calc(35%);
//         }

//         >.line1 {
//             top: calc(51%);
//             left: calc(60%);
//             transform: rotate(-60deg);

//         }

//         >.line2 {
//             top: calc(25%);
//             left: calc(60%);
//             transform: rotate(60deg);
//         }

//         >.dot {
//             top: calc(39%);
//             left: calc(42%);
//             border-left: none;
//             border-top: none;
//             z-index: 2;
//         }
//     }

// }



// /*.parent:hover .child */



// .arm1 {
//     position: absolute;
//     width: 20px;
//     height: 5px;
//     background-color: black;
//     border-radius: 4px;
//     top: calc(40%);
//     transform: rotate(-70deg);
//     transition: 1s ease-in-out;
// }



// // .outside-box:hover .arm1 {

// //     top: calc(25%);

// //     transform: rotate(-60deg);



// // }

// .arm2 {
//     position: absolute;
//     width: 20px;
//     height: 5px;
//     background-color: black;
//     border-radius: 4px;
//     top: calc(40%);
//     transform: rotate(70deg);
//     left: calc(10%);
//     transition: 1s ease-in-out;
// }



// // .outside-box:hover .arm2 {

// //     top: calc(51%);

// //     transform: rotate(60deg);

// //     left: calc(0%);

// // }

// .dot {
//     position: absolute;
//     width: 5px;
//     height: 5px;
//     background-color: black;
//     border-radius: 4px;
//     top: calc(45%);
//     left: calc(15%);
//     transition: 1s ease-in-out;
//     border-left: 0.5px solid #FFFCF3;
//     border-top: 0.5px solid #FFFCF3;
// }



// // .outside-box:hover .dot {

// //     top: calc(39%);
// //     left: calc(42%);
// //     z-index: 2;

// // }



// .arm3 {
//     position: absolute;
//     width: 20px;
//     height: 5px;
//     background-color: black;
//     border-radius: 4px;
//     top: calc(40%);
//     left: calc(25%);
//     transform: rotate(-70deg);
//     transition: 1s ease-in-out;
// }



// // .outside-box:hover .arm3 {
// //     top: calc(54%);
// //     left: calc(25%);
// //     transform: rotate(-70deg);
// //     border-top-right-radius: 0px;
// //     border-bottom-right-radius: 0px;

// // }



// .arm4 {
//     position: absolute;
//     width: 20px;
//     height: 5px;
//     background-color: black;
//     border-radius: 4px;
//     top: calc(40%);
//     transform: rotate(70deg);
//     left: calc(35%);
//     transition: 1s ease-in-out;
// }



// // .outside-box:hover .arm4 {



// //     top: calc(20%);
// //     transform: rotate(-71deg);
// //     left: calc(35%);
// // }



// .line1 {
//     position: absolute;
//     width: 20px;
//     height: 5px;
//     background-color: black;
//     border-radius: 4px;
//     top: calc(40%);
//     left: calc(45%);
//     transform: rotate(-70deg);
//     transition: 1s ease-in-out;
// }



// // .outside-box:hover .line1 {



// //     top: calc(51%);
// //     left: calc(60%);
// //     transform: rotate(-60deg);

// // }

// .line2 {
//     position: absolute;
//     width: 20px;
//     height: 5px;
//     background-color: black;
//     border-radius: 4px;
//     top: calc(40%);
//     left: calc(55%);
//     transform: rotate(70deg);
//     transition: 1s ease-in-out;
// }



// // .outside-box:hover .line2 {

// //     top: calc(25%);
// //     left: calc(60%);
// //     transform: rotate(60deg);

// // }

// /*first position*/

// /*second position*/