<div class="landing-page" id="landingPage">
    <div class="name-proffesion m-bottom">
        <span class="letter2">F</span>
        <span class="letter7">r</span>
        <span class="letter3">o</span>
        <span class="letter8">n</span>
        <span class="letter4">t</span>
        <span class="letter7">e</span>
        <span class="letter3">n</span>
        <span class="letter4">d</span></div>
    <div class="name-proffesion header">
        <span class="letter3">{{'D' | translate }}</span>
        <span class="letter8">{{'e1' | translate }}</span>
        <span class="letter4">{{'v' | translate }}</span>
        <span class="letter6">{{'e2' | translate }}</span>
        <span class="letter7">{{'l1' | translate }}</span>
        <span class="letter3">{{'o' | translate }}</span>
        <span class="letter7">{{'p' | translate }}</span>
        <span class="letter7">{{'l2' | translate }}</span>
        <span class="letter2">e</span>
        <span class="letter7">r</span></div>
    <div class="name-container"> 
        <img src="../../assets/img/Vector 11.png">
        <span class="name header">Aleksandar Miler</span>
    </div>
    <button (click)="moveToContactSection()" [class.black-btn]="selected">{{'message' | translate }}</button>
    <div class="links-container">
        <a href="mailto:aleksandar.miler.85@gmail.com" class="email-floating">aleksandar.miler.85&#64;gmail.com</a>
        <div id="aboutMe"></div>
        <div class="scroll-down-container">
            <div><img [class.arrow-down]="arrowIsDown" src="../../assets/img/arrow-down.png"></div>
            <span>{{'scroll' | translate }}</span>
            <span>{{'down' | translate }}</span>
        </div>
        </div>
       
</div>
<div>
</div>