<div class="contact-section" #contact>
    <div class="headline-wrapper"><span>Say Hi!</span></div>
    <div class="form-wrapper">
        <span class="question">{{ 'diskuss1' | translate }}?</span>
        <span class="motivational">{{ 'diskuss2' | translate }}</span>

        <div class="form-container">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

                <div class="field-wrapper">
                    @if (name.dirty && name.value.length >= 1 || !name.valid && name.touched){
                    <label class="show-label" for="name">{{ 'name' | translate}}</label>
                    } @else {
                    <span class="place-holder">{{ 'name' | translate}}</span>
                    }
                    <input name="name" class="name-input" [class.input-selected]="name.valid || !name.valid && name.touched"
                        #name="ngModel" [(ngModel)]="contactData.name" type="text" minlength="4" id="name" 
                        required>
                    @if (name.valid && name.touched){
                    <img class="alert-image" src="../../assets/img/valid.png">
                    }
                    @else if (!name.valid && name.touched){
                    <span class="field-alert">{{ 'enterName' | translate }}</span>
                    <img class="alert-image" src="../../assets/img/invalid.png">
                    }

                </div>
                <div class="field-wrapper">
                    @if (email.dirty && email.value.length >= 1 || !email.valid && email.touched){
                    <label class="show-label" for="email">{{ 'email' | translate }}</label>
                    } @else {
                    <span class="place-holder">{{ 'email' | translate }}</span>
                    }
                   
                    <input [class.input-selected]="email.valid || !email.valid && email.touched" #email="ngModel"
                        [(ngModel)]="contactData.email"  name="email" type="email" id="email"  required
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    @if (email.valid && email.touched){
                    <img class="alert-image" src="../../assets/img/valid.png">
                    }
                    @else if (!email.valid && email.touched){
                    <span class="field-alert"> {{ 'enterEmail' | translate }}</span>
                    <img class="alert-image" src="../../assets/img/invalid.png">
                    } 
                </div>
                <div class="field-wrapper">
                    @if (message.dirty && message.value.length >= 1 || !message.valid && message.touched){
                    <label class="show-label" for="message">{{ 'messageForm' | translate }}</label>
                    } @else {
                    <span class="place-holder">{{ 'messageForm' | translate }}</span>
                    }
                    <textarea [class.input-selected]="message.valid || !message.valid && message.touched"
                        #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message" id="message"
                        required></textarea>
                    @if (message.valid && message.touched){
                    <img class="alert-image" src="../../assets/img/valid.png">
                    }
                    @else if (!message.valid && message.touched){
                    <span class="field-alert"> {{'enterMessage' | translate }}</span>
                    <img class="alert-image" src="../../assets/img/invalid.png">
                    }
                    
                </div>

                <div class="check-box"><input  #checkbox="ngModel" [(ngModel)]="contactData.checkbox" [ngModelOptions]="{standalone: true}" (change)="setCheckBox($event)" type="checkbox" required>
                    @if (!checkboxState && checkboxCount > 0 ){
                    <span class="check-box-alert">{{ 'acceptPolicy' | translate }}</span>
                    }

                    {{ 'privacyPolicy1' | translate }} <a href="PrivacyPolicy">{{ 'justPrivacy' | translate }}</a> {{ 'privacyPolicy2' | translate }}
                </div>
                @if(checkboxState) {
                <button type="submit">{{ changeBtnContent() | translate }}</button>
                } @else{
                <div class="inactive">{{ changeBtnContent() |  translate }}</div>
                }
            </form> 
        </div>
        <div class="arrow-back-cont" (click)="goUp()"><img src="../../assets/img/icons8-up.png" alt=""></div>
    </div>
    <div class="success-info" [class.start-success-info]="success"><span>{{ 'messageSent' | translate }}!</span> <span>{{ 'thanks' | translate }}!</span></div>
</div>