// ******Contacts **//////////


.inactive {
    width: 252px;
    height: 60px;
    border: 4px solid #BBBBBB;
    background-color: black;
    font-family: 'Overpass';
    font-weight: 300;
    font-size: 25px;
    color: #BBBBBB;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media(max-width: 900px) {
        width: 242px;
        height: 50px;
        font-size: 23px;
    }

    @media(max-width: 550px) {
        width: 220px;
        height: 45px;
        font-size: 20px;
    }
}

.show-button {
    opacity: 1;
}

.check-box-alert {
    position: absolute;
    bottom: -22px;
    left: 0;
    color: red;
    font-family: 'Overpass';
    padding-top: 8px;
    font-size: 12px;
    width: 600px;

    @media(max-width: 900px) {
        width: 500px;
    }

    @media(max-width: 700px) {
        width: 425px;
    }

    @media(max-width: 550px) {
        width: 370px;
    }

    @media(max-width: 450px) {
        width: 250px;
    }
}

.arrow-back-cont {
    position: absolute;
    bottom: 0;
    right: calc(3%);
    transform: translateY(36px);
    cursor: pointer;
    transition: transform 1s ease-in-out;

    @media(max-width: 700px) {
        right: calc(2%);
    }

    @media(max-width: 550px) {
        display: none;
    }

    &:hover {
        transform: translateY(4px);
    }
}

.success-info {
    width: 550px;
    height: 100px;
    background-color: black;
    border: 4px solid white;
    color: #FF9900;
    display: flex;
    justify-content: center;
    font-family: 'Overpass';
    font-size: 1.5rem;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    // bottom: 0;
    inset: 0;
    margin: auto;
    // left: calc(33%);
    transform: translateY(645%);

    @media(max-width: 1024px) {
        flex-direction: column;
        width: 470px;
    }

    @media(max-width: 900px) {
        width: 350px;
        font-size: 1.2rem;
    }

    @media(max-width: 650px) {
        width: 250px;
        font-size: 1rem;
        height: 75px;
    }
}

.start-success-info {
    animation: success 6s ease-in-out;
}

@keyframes success {
    0% {
        transform: translateY(645%);
    }

    50% {
        transform: translateY(130%);
    }

    60% {
        transform: translateY(130%);
     }

     70% {
        transform: translateY(130%);
    }

    100% {
        transform: translateY(645%);
    }
}

.info-Btn-Activate {
    background-color: #BBBBBB;
    margin-top: 24px;
    border: 3px solid #BBBBBB;
    background-color: black;
    font-family: "Overpass";
    font-weight: 300;
    font-size: 19px;
    color: #BBBBBB;
    width: 275px;
    padding: 8px;
    text-align: center;
    opacity: 0;
}

.show-btn-info {
    animation: 2s btn-info ease-in-out;
    opacity: 1;
}

@keyframes btn-info {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}