<div class="number-container">
    <p class="number">03/04</p>
</div>
<div class="project-wrapper" (mouseover)="onMouseEnter()" (mouseout)="onMouseOut()">
    <div class="picture" [class.filter-adj]="isHovering">
        <img class="cover-img" src="../../assets/img/simple_Crm.jpg">
        <img [ngClass]="checkWidthAnimationArrow()" class="arrow-animation"
            src="../../../assets/img/arrow-portfolio-down2.png">
        <div class="frame" [class.show-frame]="isHovering"></div>
    </div>

    <div class="project-description" [ngClass]="checkWidthAnimation()">
        <span class="name">Simple CRM</span>
        <span class="languange">Angular | Firebase</span>
        <p class="description">{{ 'crm' | translate }}.</p>
        <div class="btn-container">
            <a href="#"><button>Github</button></a>
            <a href="#"><button>Live test</button></a>
        </div>

    </div>

</div>