.container-wrapper {
    background-color: #FFFCF3;
    margin-top: 90px;
    padding-bottom: 12px;
    height: 100vh;
    position: relative;
    width: 100vw;
    max-width: 1920px;
}

 .container {
    padding-top: 24px;
    margin-left: calc(8%);
    margin-right: calc(5%);
    font-family: 'Overpass';
    background-color: #FFFCF3;
 }

 .f-21 {
    font-size: 21px;
 }

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}