<div class="footer-wrapper">
    <div class="container-up">
        <div class="outside-box logo white">
            <div class="arm1"></div>
            <div class="arm2"></div>
            <div class="line1"></div>
            <div class="dot dot-white"></div>
            <div class="line2"></div>
            <div class="arm3"></div>
            <div class="arm4"></div>
        </div>
        <div class="pictures">
            <a href="https://github.com/AleksandarMiler" target="_blank"><img src="../../assets/img/Github.png"></a>
            <a href="mailto:aleksandar.miler.85@gmail"><img src="../../assets/img/Email.png"></a>
            <a href="https://linkedin.com/in/aleksandar-miler-0376962b9" target="_blank"><img src="../../assets/img/Linkedin.png"></a>
        </div>
    </div>

    <div class="container-down">
        <span class="madeBy" (mouseover)="startAnimation()" [attr.data-value]="originalText">&#169; {{ animatedText
            }}</span>
        <span class="email">aleksandar.miler.85&#64;gmail.com</span>
        <div class="link">
            <a *ngIf="hasRoute()" class="legal" href="Imprint">{{ 'legal' | translate }}</a>
            <a *ngIf="!hasRoute()" class="legal" href="">{{ 'start' | translate }}</a>
        </div>
    </div>
</div>